.panel {
  position: relative;
  overflow: hidden;
}

.panel-gradient-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, #c2b280, #5a7d9a, #7d8c6c);
  border-radius: 5px 5px 0 0;
}

.panel-header::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100px;
  height: 2px;
  background-color: #5a7d9a;
}

.panel-control-btn {
  font-size: 0.75rem;
  line-height: 1;
}
